<header class="st-header q-pa-sm">
    <h1 class="st-header__title text-h3">Topological multicellular systems<br /></h1>
</header>
<div class="row">
    <div class="col col-12 col-sm">
        <p>Somthing about this project</p>
    </div>
</div>
<div class="row">
    <div class="col col-6 col-sm">
        <plotly :data="MDS12_data" :layout="MDS12_layout" :scrollzoom="true" class="multi_systems_plot sync_data"></plotly>
    </div>
    <div class="col col-6 col-sm">
        <plotly :data="MDS23_data" :layout="MDS23_layout" class="multi_systems_plot sync_data"></plotly>
    </div>
</div>
<div class="row">
    <div class="col col-6 col-sm">
        <q-table flat="" :columns="multi_systems.columns_multi_systems" selection="multiple" :selected.sync="multi_systems_selection" :data="multi_systems.data_multi_systems" dense="" row-key="__id" :pagination="multi_systems_pagination" class="multi_systems_table"></q-table>
    </div>
    <div class="col col-6 col-sm">
        <p><img src="/img/Legend.png" width="100%" height="auto" alt="Legend of systems" ,class="img-responsive" /></p>
        <h1 class="st-header__title text-h3">References<br /></h1>
        <p><a href="https://github.com/dom-skinner" class="bold-text">Ref [1]</a> Ding et al ...</p>
        <p><a href="https://scholar.google.com/citations?hl=en&user=BrN3ChAAAAAJ&view_op=list_works" class="bold-text">Ref [2]</a></p>
        <h1 class="st-header__title text-h3">Contributing to the phase diagram<br /></h1>
        <p>Instructions go here</p>
    </div>
</div>