<header class="st-header q-pa-sm">
    <h1 class="st-header__title text-h3">Topological multicellular systems<br /></h1>
</header>
<div class="row">
    <div class="col col-6 col-sm">
        <plotly :data="MDS12_data" :layout="layout" :scrollzoom="true" class="multi_systems_plot sync_data"></plotly>
    </div>
    <div class="col col-6 col-sm">
        <plotly :data="one_way_traces" :layout="one_way_layout" class="multi_systems_plot sync_data"></plotly>
    </div>
</div>
<div class="row">
    <div class="col col-8">
        <q-table flat="" :columns="multi_systems.columns_multi_systems" selection="multiple" :selected.sync="multi_systems_selection" :data="multi_systems.data_multi_systems" dense="" row-key="__id" :pagination="multi_systems_pagination" class="multi_systems_table"></q-table>
    </div>
</div>